a{
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: azure;
    font-size: 24pt;
   margin-right: 50px;
   z-index: 4;
}

a:hover{
    color: #fff;
    letter-spacing: 0.20em;
    text-shadow: -2px -7px 6px rgb(137, 120, 253);
}

@media(max-width:980px){
    a:hover{
        color: #fff;
        letter-spacing: 0.05em;
        text-shadow: -2px -7px 6px rgb(137, 120, 253);
    }
}
