.about-section-padding{
    background-color: rgb(41, 38, 54);
    width: 100vw;
    padding-bottom: 0.8px;
}
.imagenesnoticias:hover{
    transition: 0.4s;
    transform: scale(1.2);
}

.tituloz{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 70px;
}
.subtituloz{
    font-family: 'Amatic SC', cursive;
    font-stretch: expanded;
    font-size: 30px;
}
.parx{
    text-align: justify;
}

