$colorbtn: #6D67E4;

$titulosh1: 'Amatic SC', cursive; 
$textshadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);

$estilodetexto:(
    
        font-family: 'Amatic SC',
        font-size:80px,
        color: aliceblue,
        text-align: center,
        margin-top: 40px,
    
    
)